/* Project Card  */
.project--card.todo {
  background-image: linear-gradient(90deg, #bbb7f7, #dcb0f5);
}

.project--card.tracker {
  background-image: linear-gradient(90deg, #a5bbf7, #b0dcf5);
}

.project--card.form {
  background-image: linear-gradient(90deg, #f7b5a5, #f89e9e);
}

.project--card.profile--comp {
  background-image: linear-gradient(90deg, #fa6e6e, #f077d5);
}

.project--card.card--comp {
  background-image: linear-gradient(90deg, #af6efa, #f07787);
}

.project--card.url {
  background-image: linear-gradient(90deg, #9ff5f5, #a9f5af);
}

.project--card.news--homepage {
  background-image: linear-gradient(90deg, #f5b09f, #b4a9f5);
}

.project--card.crowdfunding {
  background-image: linear-gradient(90deg, #9ff5ee, #a9d3f5);
}

.project--card.notification {
  background-image: linear-gradient(90deg, #c09ff5, #f5a9af);
}

.project--card.four--card--feature {
  background-image: linear-gradient(90deg, #f59fb5, #a9c4f5);
}

.project--card.clipboard {
  background-image: linear-gradient(90deg, #9ff5ea, #aea9f5);
}

.project--card.social--dashboard {
  background-image: linear-gradient(90deg, #f5ac9f, #aea9f5);
}

.project--card.snap--intro {
  background-image: linear-gradient(90deg, #e5f59f, #a9e6f5);
}

.project--card.insure--landing {
  background-image: linear-gradient(90deg, #f5b39f, #aaa9f5);
}

.project--card.rating--card {
  background-image: linear-gradient(90deg, #f5d79f, #f5bba9);
}

.project--card.fylo {
  background-image: linear-gradient(90deg, #9facf5, #b7a9f5);
}

.project--card.qr--code {
  background-image: linear-gradient(90deg, #8a9af1, #b7a9f5);
}

.project--card.interactive--comments {
  background-image: linear-gradient(90deg, #8a9af1, #93a5f8);
}

.project--card.interactive--pricing {
  background-image: linear-gradient(90deg, #8ae2f1, #93f8e2);
}

.project--card.space--tourism {
  background-image: linear-gradient(90deg, #8aaef1, #a780f0);
}

.project--card.multi--step--form {
  background-image: linear-gradient(90deg, #6a68f0, #f080af);
}

.project--card.sunny--side--agency {
  background-image: linear-gradient(90deg, #f0c068, #80e8f0);
}

.project--card.spotify--clone {
  background-image: linear-gradient(90deg, #62f0c5, #88eea7);
}

.project--card.netflix--clone {
  background-image: linear-gradient(90deg, #f1449b, #f0667d);
}

.project--card.clothing--store {
  background-image: linear-gradient(90deg, #bf72f3, #6344f0);
}

.project--card.rest--countries {
  background-image: linear-gradient(90deg, #9e73ee, #7495f0);
}

.project--card.bolt--store {
  background-image: linear-gradient(90deg, #8b8b8b, #a5a7ad);
}


/* Project Image */
.project--card.todo>.project--img {
  background: linear-gradient(90deg, #8751ec 0%, #c461f1 54%, #5d60f0 100%);
}

.project--card.tracker>.project--img {
  background: linear-gradient(90deg, #51a1ec 0%, #61cff1 54%, #5d7ff0 100%);
}

.project--card.form>.project--img {
  background: linear-gradient(90deg, #ec5b51 0%, #f18a61 54%, #f0625d 100%);
}

.project--card.profile--comp>.project--img {
  background: linear-gradient(90deg, #b1aead 0%, #7661f1 54%, #f75151 100%);
}

.project--card.card--comp>.project--img {
  background: linear-gradient(90deg, #3d2e79 0%, #271781 54%, #f751c5 100%);
}

.project--card.url>.project--img {
  background: linear-gradient(90deg, #4efaaa 0%, #b2f55a 54%, #46f079 100%);
}

.project--card.news--homepage>.project--img {
  background: linear-gradient(90deg, #faee4e 0%, #f55a5a 54%, #4649f0 100%);
}

.project--card.crowdfunding>.project--img {
  background: linear-gradient(90deg, #4efac6 0%, #5af58e 54%, #46c8f0 100%);
}

.project--card.notification>.project--img {
  background: linear-gradient(90deg, #6d4efa 0%, #af5af5 54%, #f046e7 100%);
}

.project--card.four--card--feature>.project--img {
  background: linear-gradient(90deg, #fa7f4e 0%, #5a7ef5 54%, #f0464f 100%);
}

.project--card.clipboard>.project--img {
  background: linear-gradient(90deg, #4efab8 0%, #5a7ef5 54%, #9546f0 100%);
}

.project--card.social--dashboard>.project--img {
  background: linear-gradient(90deg, #4eadfa 0%, #f5b25a 54%, #f0468d 100%);
}

.project--card.snap--intro>.project--img {
  background: linear-gradient(90deg, #514efa 0%, #f5de5a 54%, #46c8f0 100%);
}

.project--card.insure--landing>.project--img {
  background: linear-gradient(90deg, #463564 0%, #f5985a 54%, #f07646 100%);
}

.project--card.rating--card>.project--img {
  background: linear-gradient(90deg, #bfbec0 0%, #f5985a 54%, #f0c846 100%);
}

.project--card.fylo>.project--img {
  background: linear-gradient(90deg, #16287a 0%, #221086 54%, #f0465d 100%);
}

.project--card.qr--code>.project--img {
  background: linear-gradient(90deg, #65a2f3 0%, #70e7f0 54%, #5686f0 100%);
}

.project--card.interactive--comments>.project--img {
  background: linear-gradient(90deg, #71a6ec 0%, #707df0 54%, #2865e7 100%);
}

.project--card.interactive--pricing>.project--img {
  background: linear-gradient(90deg, #71ecec 0%, #70f0b4 54%, #7ba3aa 100%);
}

.project--card.space--tourism>.project--img {
  background: linear-gradient(90deg, #446ae9 0%, #5d4dec 54%, #3648ee 100%);
}

.project--card.multi--step--form>.project--img {
  background: linear-gradient(90deg, #6d5ef3 0%, #f86086 54%, #a436ee 100%);
}

.project--card.sunny--side--agency>.project--img {
  background: linear-gradient(90deg, #36d3fa 0%, #60f8f1 54%, #36b4ee 100%);
}

.project--card.spotify--clone>.project--img {
  background: linear-gradient(90deg, #5df189 0%, #c6ee69 54%, #1efadd 100%);
}

.project--card.netflix--clone>.project--img {
  background: linear-gradient(90deg, #ee2bd4 0%, #f02170 54%, #f31f1f 100%);
}

.project--card.clothing--store>.project--img {
  background: linear-gradient(90deg, #eeba4b 0%, #9f48f0 54%, #f5c254 100%);
}


.project--card.rest--countries>.project--img {
  background: linear-gradient(90deg, #667bf3 0%, #4853f0 54%, #ad54f5 100%);
}



.project--card.bolt--store>.project--img {
  background: linear-gradient(90deg, #b3b0b1 0%, #949393 54%, #b8b5b6 100%);
}