.skills--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8rem;
    padding: 1rem 1rem 5rem 1rem;
    gap: 4rem;
}

.skills--wrapper .title {
    margin: 10px auto;
}

.skills--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 70%;
    align-self: center;
}


.skills {
    height: 160px;
    width: 160px;
    position: relative;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#number {
    font-weight: 600;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#number .lang {
    font-family: var(--font-Newake);
    font-size: 1.2rem;
    color: #fff;
}

#number .percent {
    font-family: var(--font-Major-Mono-Display);
    color: #ccc;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    transition: all 1s linear;
}


svg {
    position: absolute;
    left: 0;
    top: 0;
}


.skills--container.show #html {
    animation: stroke-1 1s linear forwards;
}

.skills--container.show #css {
    animation: stroke-2 1s linear forwards;
}

.skills--container.show #javascript {
    animation: stroke-3 1s linear forwards;
}


@keyframes stroke-1 {


    100% {
        stroke-dashoffset: 45;
    }
}

@keyframes stroke-2 {


    100% {
        stroke-dashoffset: 67.5;
    }
}

@keyframes stroke-3 {


    100% {
        stroke-dashoffset: 90;
    }
}