@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import "./FirstSection.css";
@import "./AboutSection.css";
@import "./ProjectSection.css";
@import "./ProjectCard.css";
@import "./scrollBtn.css";
@import "./Spinner.css";
@import "./FooterSection.css";
@import './Skills.css';

body {
  background: linear-gradient(270deg,
      rgba(30, 30, 31, 1) 0%,
      rgba(27, 26, 26, 1) 100%,
      rgba(17, 8, 8, 1) 100%);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  transition: all 1s linear;
}

body.light {
  background: linear-gradient(to left, #ccc, #ccc);
}

:root {
  --font-Newake: "Newake", sans-serif;
  --background-position: 10vw;
  --font-Major-Mono-Display: "Major Mono Display", monospace;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s linear;
  scroll-behavior: smooth;
}

header {
  color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 5px 1rem;
}



.logo svg {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 6px;
}

nav {
  padding: 1rem;
  grid-row-start: 2;
  grid-column-start: span 3;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translateY(-400px);
  margin-top: 1rem;
}

nav.active {
  overflow: visible;
  height: 220px;
  opacity: 1;
  transform: translateY(0px);
}

nav>ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

nav>ul>li>a {
  text-decoration: none;
  font-weight: 600;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: var(--font-Major-Mono-Display);
}

body.light header>nav>ul>li>a {
  color: #000;
}

nav>ul>li>a::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -5px;
  height: 2px;
  background: white;
  left: 0;
  border-radius: 30px;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body.light nav>ul>li>a::after {
  background: #000;
}

nav>ul>li>a:hover::after {
  width: 100%;
}

.theme--toggler {
  place-self: center;
}

header>.theme--toggler>i {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

body.light header>.theme--toggler>i {
  color: #000;
}

.menu--btn {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s linear;
  place-self: center end;
}

body.light .menu--btn {
  color: #000;
}

@media (hover: hover) {
  header>svg {
    cursor: pointer;
  }

  nav>ul>li>a {
    cursor: pointer;
  }

  .languages--wrapper>span {
    cursor: pointer;
  }

  .links--wrapper>a {
    cursor: pointer;
  }

  .theme--toggler {
    cursor: pointer;
  }

  .menu--btn {
    cursor: pointer;
  }
}

@media Screen and (min-width: 950px) {
  .menu--btn {
    display: none;
  }

  .theme--toggler {
    place-self: center end;
  }

  nav {
    grid-row-start: 1;
    height: auto;
    opacity: 1;
    overflow: visible;
    grid-column-start: 2;
    transform: translateY(0px);
    place-self: center;
  }

  nav>ul {
    flex-direction: row;
  }
}